* {
    box-sizing: border-box;
}

.interfaces {
    display: flex;
    flex-wrap: wrap;
}

.interface {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #bbb;
    border-radius: 8px;
}

.connected {
    border: 1px solid #afa;
    box-shadow: 4px 4px 8px #aba;
}

.interface__name {
    font-size: 1.4rem;
    font-weight: bold;
}