<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Net Status</title>
</head>
<body>
    <h1>Network Config</h1>
    <hr>
    <h2>Bridges</h2>
    <div class="interfaces">
        {% for iface in bridge_iface_data %}
        <div class="interface">
            <div class="interface__name"> {{ iface['ifName'] }} </div>
            <div class="interface__mac"> {{ iface['mac'] }}</div>
            <div class="interface__status">Status: {{ iface['ifStatus'] }}</div>
            <div class="interface__ipv4">IPv4: {{ iface['ipv4'] }}</div>
            <div class="interface__ipv6">IPv6:  {{ iface['ipv6'] }}</div>
            <div class="interface__speed"> {{ iface['speed'] }}</div>
        </div>
        {% endfor %}
    </div>
    <h2>Physical Interfaces</h2>
    <div class="interfaces">
        {% for iface in physical_iface_data %}
        <div class="interface">
            <div class="interface__name"> {{ iface['ifName'] }} </div>
            <div class="interface__mac"> {{ iface['mac'] }}</div>
            <div class="interface__status">Status: {{ iface['ifStatus'] }}</div>
            <div class="interface__ipv4">IPv4: {{ iface['ipv4'] }}</div>
            <div class="interface__ipv6">IPv6:  {{ iface['ipv6'] }}</div>
            <div class="interface__speed"> {{ iface['speed'] }}</div>
        </div>
        {% endfor %}
    </div>

</body>
</html>