<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Net Status</title>
</head>
<body>
    <h1>Network Config</h1>
    <hr>
    <h2>Physical Interfaces</h2>
    <ol>
        {% for iface in physical_interfaces %}
        <li>{{ iface }}</li>
        {% endfor %}
    </ol>
    <h2>Bridge Interfaces</h2>
    <ol>
        {% for iface in bridge_interfaces %}
        <li>{{ iface }}</li>
        {% endfor %}
    </ol>
</body>
</html>